body {
  background-color: #c7c7c7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  font-family: Roboto, sans-serif;
}

.game-field-wrapper {
  box-sizing: border-box;
  background-color: white;
  border-radius: 1em;
  width: 1250px;
  height: 730px;
  padding: 20px;
  border: 5px solid white;
}

.game-field {
  background-color: whitesmoke;
  width: 1200px;
  height: 680px;
}

.menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu-row, .menu .final-buttons {
  font-size: large;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 10px 5px;
}
.menu-row label, .menu .final-buttons label {
  padding: 20px 20px 20px 0;
}
.menu .final-buttons {
  justify-content: center;
}
.menu .final-buttons input[type=button] {
  width: 100%;
}
.menu .final-buttons input[type=button][value=Save] {
  margin: 0 5px 0 0;
}
.menu .final-buttons input[type=button][value=Back] {
  margin: 0 0 0 5px;
}
.menu-button {
  font-family: inherit;
  border-radius: 5px;
  padding: 20px;
  font-size: large;
  font-weight: bold;
  margin: 10px 5px;
  border: none;
  background-color: #8d6868;
  color: white;
  cursor: pointer;
}
.menu-button:hover {
  background-color: #6f5252;
  transition: background-color ease-out 0.1s;
}
.menu-button:active {
  background-color: #584141;
}

.menu-row input[type='button'] {
  margin: 0;
}

.menu-row input[type='text'] {
  flex-grow: 2;
  border: 3px solid #8d6868;
  outline: none;
  border-radius: 6px;
  text-align: center;
  margin-right: 10px;
  font-size: large;
  font-weight: bold;
  height: 100%;
  box-sizing: border-box;
}

#color-chooser {
  height: 100%;
  border: none;
  outline: none;
  flex-grow: 2;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: top left;
}

@keyframes spin {
  0% { transform: rotate(0deg) translate(-50%, -50%); }
  100% { transform: rotate(360deg) translate(-50%, -50%); }
}

.ui-wrapper {
  display: flex;
}

#room-id {
  margin: 1em;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.selector {
  flex-grow: 2;
  height: 3em;
  border: 3px solid #8d6868;
  outline: none;
}